In [1]:
%load_ext sql

In [9]:
%reload_ext sql

In [2]:
import create_tables
import etl
from configurations.environment import Configuration

In [43]:
create_tables.main()

In [44]:
etl.main()

In [4]:
config = Configuration()
conn_string="postgresql://{}:{}@{}:{}/{}".format(config.user,
                                                 config.password,
                                                 config.host,
                                                 config.port,
                                                 config.dbname)
%sql $conn_string

In [5]:
%%sql
SELECT COUNT(*) FROM staging_events

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(8056,)]

In [6]:
%%sql
SELECT COUNT(*) FROM staging_songs

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(14896,)]

In [7]:
%%sql
SELECT COUNT(*) FROM songplays

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(333,)]

In [8]:
%%sql
SELECT COUNT(*) FROM artists

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(10025,)]

In [9]:
%%sql
SELECT COUNT(*) FROM users

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(105,)]

In [10]:
%%sql
SELECT COUNT(*) FROM songs

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(14896,)]

In [11]:
%%sql
SELECT COUNT(*) FROM time

 * postgresql://quannct:***@sparkify-cluster.cvidguchcuu7.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(333,)]